_site
.sass-cache
.DS_Store
Gemfile.lock
/bower_components
/node_modules
npm-debug.log
_drafts/*.md

# Ignored from build system
/assets/css/bourbon
/assets/css/neat
/assets/css/plugins/_normalize.scss
