---
layout: default
---

<div class="posts">
  <header class="page-header">
    <h1 class="page-heading">Posts</h1>
  </header>

  <div id="pagination-top">
    {% include posts/pagination.html %}
  </div>

  {% if paginator.posts %}
    <ul class="post-list">
      {% for post in paginator.posts %}
        <li>
          <header class="post-header">
            <h1 class="post-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
          </header>

          <article class="post-content">
            {{ post.excerpt | strip_html}}
          </article>

          <footer class="post-footer">
            <p class="post-more">
              <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
            </a>
          </footer>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts found.</p>
  {% endif %}

  <div id="pagination-bottom">
    {% include posts/pagination.html %}
  </div>
</div>
