<header id="header">
  <div class="inner">
    <h1 class="title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>

    <a href="#" id="menu-navigation"><span>Toggle menu</span></a>

    <nav id="navigation">
      <ul>
        {% for link in site.data.navigation %}
        <li><a class="page-link" href="{{ link.href | prepend:site.baseurl }}"{% if link.target %} target="{{ link.target }}"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
