<!--[if lte IE 10]>
<div id="iealert">
  <p>
    <span class="bold">Warning:</span> We do not support the <a href="http://en.wikipedia.org/wiki/Web_browser" title="What is a web browser, you ask?" class="help">web browser</a> you are using, and cannot guarantee a problem free experience. Please upgrade to one of these modern web browsers (they&rsquo;re free):
  </p>

  <ul>
    <li class="firefox"><a href="http://www.mozilla.com/en-US/firefox/firefox.html" title="Download Firefox for Windows, Mac OS X, and Linux">Mozilla Firefox</a></li>
    <li class="safari"><a href="http://www.apple.com/safari/" title="Download Safari for Mac OS X and Windows">Apple Safari</a></li>
    <li class="chrome"><a href="http://www.google.com/chrome?brand=CHFV" title="Download Google Chrome for Windows, Mac OS X, and Linux">Google Chrome</a></li>
    <li class="opera"><a href="http://www.opera.com/download/" title="Download Opera for Windows, Mac OS X and Linux">Opera</a></li>
    <li class="ie"><a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx" title="Download a newer Internet Explorer Windows">Internet Explorer</a></li>
  </ul>
</div>
<![endif]-->
