/*-- Neat --------------------------------------------------------------------*/

$disable-warnings: true !default;

$border-box-sizing: true;

$column: 74px;
$gutter: 12px;
$grid-columns: 12;

$max-width: 1280px;


/*-- Visual Grid -------------------------------------------------------------*/

$visual-grid: false;
$visual-grid-color: #eee;
$visual-grid-index: back;
$visual-grid-opacity: 0.4;


/*-- Misc --------------------------------------------------------------------*/

$gap: $gutter * 2;


/*-- Wrapper -----------------------------------------------------------------*/

$wrapper-min-width: 320px;
$wrapper-max-width: $max-width;

$wrapper-margin: 0 auto;


/*-- Colors ------------------------------------------------------------------*/

$black: #111111;
$white: #fdfdfd;
$blue: #3399cc;
$super-light-gray: #f8f8f8;
$light-gray: #cccccc;
$medium-gray: #666666;
$dark-gray: #333333;
$yellow: #ffd544;
$red: #ff2f25;
$orange: #ffa500;
$alt-blue: #2b454d;


/*-- Body --------------------------------------------------------------------*/

$font-size: 16px;
$font-family: Helvetica, Arial, sans-serif;
$font-weight: 300;
$text-color: $black;
$background-color: $white;
$line-height: 1.5;


/*-- Noscript ----------------------------------------------------------------*/

$noscript-background-color: $orange;

$noscript-border-width: 1px;
$noscript-border-type: solid;
$noscript-border-color: $black;

$noscript-border-style: $noscript-border-width $noscript-border-type $noscript-border-color;


/*-- IE Alert ----------------------------------------------------------------*/

$iealert-background-color: $orange;

$iealert-border-width: 1px;
$iealert-border-type: solid;
$iealert-border-color: $black;

$iealert-border-style: $iealert-border-width $iealert-border-type $iealert-border-color;


/*-- Navigation --------------------------------------------------------------*/

$navigation-transition: all 0.3s;


/*-- Links -------------------------------------------------------------------*/

$link-transition: all .3s;

$link-color: $blue;
$link-decoration: none;

$link-hover-color: $alt-blue;
$link-hover-decoration: none;


/*-- Selection ---------------------------------------------------------------*/

$selection-text-color: $white;
$selection-background-color: $blue;

$selection-image-text-color: $selection-text-color;
$selection-image-background-color: $selection-background-color;


/*-- Borders -----------------------------------------------------------------*/

$border-width: 1px;
$border-type: solid;
$border-color: $black;

$border-style: $border-width $border-type $border-color;


/*-- Tables ------------------------------------------------------------------*/

$table-border-type: $border-type;
$table-border-width: $border-width;
$table-border-color: $border-color;

$table-text-color: $black;

$table-caption-background-color: transparent;

$table-title-background-color: $medium-gray;

$table-row-background-color-even: transparent;
$table-row-background-color-odd: $light-gray;


/*-- Forms -------------------------------------------------------------------*/

$form-fieldset-border-radius: 4px;
$form-fieldset-border-width: $border-width;
$form-fieldset-border-type: $border-type;
$form-fieldset-border-color: $border-color;
$form-fieldset-border-style: $form-fieldset-border-type $form-fieldset-border-width $form-fieldset-border-color;

$form-input-transition: $link-transition;

$form-input-radius: 3px;
$form-input-padding: 3px;
$form-input-border-style: $border-type $border-width $border-color;
$form-input-text-color: $medium-gray;
$form-input-background-color: $white;

$form-hover-input-border: $border-type $border-width darken($border-color, 25%);
$form-hover-input-text-color: $form-input-text-color;
$form-hover-input-background-color: $form-input-background-color;

$form-focus-input-border: $border-type $border-width $black;
$form-focus-input-text-color: $form-input-text-color;
$form-focus-input-background-color: darken($form-input-background-color, 2%);

$disabled-color: #999;
$disabled-opacity: 0.75;


/*-- Placeholder -------------------------------------------------------------*/

$placeholder-color: $disabled-color;


/*-- Buttons -----------------------------------------------------------------*/

$button-background-color: $medium-gray;
$button-text-color: $white;

$button-disabled-opacity: 0.5;
$button-disabled-color: $button-text-color;

$button-border-radius: 5px;

$button-border-size: 1px;
$button-border-type: solid;
$button-border-color: darken($button-background-color, 30%);
$button-border-style: $button-border-size $button-border-type $button-border-color;

$button-padding: 4px 12px;

$button-shadow-x: 1px;
$button-shadow-y: 1px;
$button-shadow-blur: 0;
$button-shadow-spread: 0;
$button-shadow-color: lighten($button-background-color, 10%);

$button-text-shadow-x: 0;
$button-text-shadow-y: 1px;
$button-text-shadow-blur: 0;
$button-text-shadow-color: rgba($button-text-color, 0.2);

$button-hover-shadow-x: $button-shadow-x;
$button-hover-shadow-y: $button-shadow-y;
$button-hover-shadow-blur: $button-shadow-blur;
$button-hover-shadow-spread: $button-shadow-spread;
$button-hover-shadow-color: $button-shadow-color;

$button-hover-text-shadow-x: $button-text-shadow-x;
$button-hover-text-shadow-y: $button-text-shadow-y;
$button-hover-text-shadow-blur: $button-text-shadow-blur;
$button-hover-text-shadow-color: rgba(darken($button-text-color, 100%), 0.3);

$button-focus-shadow-x: -$button-hover-shadow-x;
$button-focus-shadow-y: -$button-hover-shadow-y;
$button-focus-shadow-blur: $button-hover-shadow-blur;
$button-focus-shadow-spread: $button-hover-shadow-spread;
$button-focus-shadow-color: darken($button-background-color, 10%);

$button-focus-text-shadow-x: $button-hover-text-shadow-x;
$button-focus-text-shadow-y: $button-hover-text-shadow-y;
$button-focus-text-shadow-blur: $button-hover-text-shadow-blur;
$button-focus-text-shadow-color: $button-hover-text-shadow-color;

$button-pill-border-radius: 14px;

$button-shiny-darken: darken($button-background-color, 40%);
$button-shiny-lighten: lighten($button-background-color, 20%);


/*-- Blockquotes -------------------------------------------------------------*/

$blockquote-text-color: $dark-gray;
$blockquote-background-color: $white;

$blockquote-border-width: 5px;
$blockquote-border-type: $border-type;
$blockquote-border-color: $border-color;
$blockquote-border-style: $blockquote-border-width $blockquote-border-type $blockquote-border-color;

$blockquote-quote-color: $medium-gray;
$blockquote-quote-size: 70px;

$blockquote-cite-color: $medium-gray;
$blockquote-cite-size: 12px;
