/*-- Blockquotes -------------------------------------------------------------*/

//  <blockquote>
//    <p>Augue purus et tortor dis egestas sociis dapibus montes?</p>
//    <cite>Lorem Ipsum</cite>
//  </blockquote>

//  <blockquote class="reverse">
//    <p>Augue purus et tortor dis egestas sociis dapibus montes?</p>
//    <cite>Lorem Ipsum</cite>
//  </blockquote>

blockquote {
  background: $blockquote-background-color;
  border-left: $blockquote-border-style;
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  quotes: "\201C""\201D""\2018""\2019";
  color: $blockquote-text-color;
  font-style: italic;

  &:before {
    color: $blockquote-quote-color;
    content: open-quote;
    font-size: $blockquote-quote-size;
    line-height: 0.1;
    margin-right: 15px;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
  }

  q,
  cite {
    quotes: "“" "”" "‘" "’";
    color: $blockquote-cite-color;
    display: block;
    font-size: $blockquote-cite-size;

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }

    a {
      color: $blockquote-cite-color;

      &:visited {
        color: $blockquote-cite-color;
      }
    }
  }

  // Reversed blockquote
  &.reverse {
    border-left: none;
    border-right: $blockquote-border-style;
    padding: 0 1em 0 0;
    text-align: right;
  }
}
