/*-- Images ------------------------------------------------------------------*/

img {
  @include image-rendering(optimizeSpeed);
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

@media \0screen {
  img {
    width: auto;
  }
}
