/*-- Objects -----------------------------------------------------------------*/

figure {
  margin: $gap 0;
  padding: 10px;
  border: solid 1px #ccc;
  @include inline-block;
}

figcaption { }

hr { }

template { }
