<div class="pagination">
  <div class="left">
    {% if page.previous.url %}
      <a class="previous" href="{{ page.previous.url }}" title="Previous Post: {{ page.previous.title }} ({{ page.previous.date | date: '%b %-d, %Y' }})">&laquo; Previous</a>
    {% else %}
      <span class="previous">&laquo; Previous</span>
    {% endif %}
  </div>

  <div class="right">
    {% if page.next.url %}
      <a class="next" href="{{ page.next.url }}" title="Next Post: {{ page.next.title }} ({{ page.next.date | date: '%b %-d, %Y' }})">Next &raquo;</a>
    {% else %}
      <span class="next">Next &raquo;</span>
    {% endif %}
  </div>
</div>
