/*-- Footer ------------------------------------------------------------------*/

#footer {
  background-color: $alt-blue;
  margin-top: $gap;
  padding: 10px;
  color: $white;
  font-size: $font-size-small;

  @include min-screen($tablet) {
    font-size: $font-size;
  }

  .inner {
    max-width: $max-width;
    margin: 0 auto;
  }

  a {
    color: $white;

    &:hover {
      color: $blue;
    }
  }

  .social {
    font-size: $font-size-extra-large;
    text-align: center;
    margin-bottom: 10px;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      @include inline-block;
      margin-left: 5px;

      &:first-child {
        margin-left: 0;
      }

      &.twitter { }

      &.facebook { }

      &.instagram { }

      &.github { }

      &.linkedin { }
    }

    span {
      display: none;
    }
   }

  .copyright {
    text-align: center;
  }
}
