/*-- Navigation --------------------------------------------------------------*/

#navigation {
  ul {
    margin: 0;
    padding: 12px 0 0;
  }

  li {
    @include inline-block;
    list-style-type: none;
    margin-left: $gap;

    &:first-child {
      margin-left: 0;
    }
  }
}

@include min-screen($tablet) {
  #navigation {
    @include span-columns(6);
  }
}
