/*-- Forms -------------------------------------------------------------------*/

form { }

fieldset {
  @include border-radius($form-fieldset-border-radius);
  border: $form-fieldset-border-type $form-fieldset-border-width $form-fieldset-border-color;
  margin: $gap 0;
  padding: $gap;
}

legend {
  padding: 0 ($gap / 2);
}

label {
  display: block;

  span.required {
    color: #ff2f25;
  }
}

input { }

#{$all-text-inputs} { }

textarea {
  resize: vertical;
}

select {
  &[multiple] { }
}

optgroup { }

option { }

select,
textarea,
input[type="range"],
#{$all-text-inputs} {
  @include transition($form-input-transition);
  @include border-radius($form-input-radius);
  padding: $form-input-padding;
  border: $form-input-border;
  background-color: $form-input-background-color;
  color: $form-input-text-color;
  display: block;
  width: 100%;
  box-sizing: border-box;

  &:hover:not(:disabled) {
    border: $form-hover-input-border;
    background-color: $form-hover-input-background-color;
    color: $form-hover-input-text-color;
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    border: $form-focus-input-border;
    background-color: $form-focus-input-background-color;
    color: $form-focus-input-text-color;
  }

  &:invalid:not(:disabled) { }
}

input[type="color"] {
  width: 30px;
}

input[type="checkbox"],
input[type="radio"] {
  + label { }
}

input[type="color"] {
  padding: 0.2em 0.5em;
}

[disabled] { }

[readonly] { }

[disabled],
[readonly] {
  opacity: $disabled-opacity;
  color: $disabled-color;
}

button,
input,
select,
textarea {
  &[readonly],
  &[disabled] {
    cursor: not-allowed;
  }
}

@include placeholder {
  color: $placeholder-color;
}
