/*-- Helpers --------------------------------------------------------------------------*/

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

.display-none {
  display: none;
}

.inline-block {
  @include inline-block;
}

.show {
  display: block;
  visibility: visible;
}

.hide,
.hidden {
  display: none;
  visibility: hidden;
}

.full {
  width: 100%;
}

img.full {
  max-width: 100%;
  height: auto;
  display: block;
  width: auto;
}

.nobr {
  white-space: nowrap;
}

.wrap {
  white-space: normal;
}

.text-hide {
  @include hide-text;
}

.text-left,
.align-left,
.a-left {
  text-align: left;
}

.text-center,
.align-center,
.a-center {
  text-align: center;
}

.text-right,
.align-right,
.a-right {
  text-align: right;
}

.text-justify,
.align-justify,
.a-justify {
  text-align: justify;
}

.vertical-top {
  vertical-align: top;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-bottom {
  vertical-align: bommom;
}

.float-left,
.f-left {
  float: left;
}

.float-right,
.f-right {
  float: right;
}

.float-none,
.f-none {
  float: none;
}

.float-center,
.f-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-bg {
  background: none;
}

.weight-light {
  font-weight: 300;
}

.weight-normal {
  font-weight: 400;
}

.weight-semibold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.strike {
  text-decoration: line-through;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.ellipsis {
  @include ellipsis(100%);
}

@for $i from 6 through 80 {
  .size-#{$i} {
    font-size: #{$i}px;
  }
}

.clearfix {
  @include clearfix;
}
