/*-- Links -------------------------------------------------------------------*/

a {
  @include transition($link-transition);
  border: none;
  outline: none;
  color: $link-color;
  text-decoration: $link-decoration;

  &:focus { }

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:active { }
}
