/*-- Pages -------------------------------------------------------------------*/

body {
  &.page {
    .page-header {
      display: none;
    }

    .us {
      display: block;
      margin: auto;
      @include border-radius(50%);
    }
  }
}
