/*-- Post Listing ------------------------------------------------------------*/

.posts {
  ul.post-list {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      border-top: solid 1px $highlight-blue;
      margin-top: $gap;
      padding-top: $gap;

      &:first-child {
        border-top: none;
      }
    }
  }

  .post-header {
    .post-title { }

    .post-meta { }
  }

  .post-content {
    text-align: justify;
  }

  .post-footer {
    .post-more {
      text-align: right;

      a {
        padding: 3px;
        border: solid 1px $highlight-blue;
      }
    }
  }
}
