<!doctype html>
<html lang="en"{% if "post" == page.type %} itemscope itemtype="http://schema.org/Article"{% endif %}>
{% include head.html %}
{% if "index" == page.url | remove_first:"/" | replace:".html","" %}
  {% capture body_class %}homepage{% endcapture %}
{% else %}
  {% capture body_class %}{{ page.type }}{% endcapture %}
{% endif %}
<body class="{{ body_class }}">

  {% include iealert.html %}

  {% include noscript.html %}

  {% include header.html %}

  <div id="wrapper">
    {{ content }}
  </div>

  {% include footer.html %}

  {% include foot.html %}

</body>
</html>
