---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="page-heading">Articles by tag: `{{ page.tag }}`</h1>
  </header>

  <div id="pagination-top" class="pagination">
    {% include posts/pagination.html %}
  </div>

  {% if site.tags[page.tag] %}
    <ul class="post-list">
    {% for post in site.tags[page.tag] %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-excerpt">
          {{ post.excerpt | strip_html}}
        </div>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>There are no posts for this tag.</p>
  {% endif %}

  <div id="pagination-bottom" class="pagination">
    {% include posts/pagination.html %}
  </div>
</div>
