---
layout: default
---
<div class="tags">
  <header class="page-header">
    <h2 class="page-heading">Articles by tag: `{{ page.tag }}`</h2>
  </header>

  {% if site.tags[page.tag] %}
    <ul class="post-list">
    {% for post in site.tags[page.tag] %}
      <li>
        <header class="post-header">
          <h3 class="post-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        </header>

        <article class="post-content">
          {{ post.excerpt | strip_html}}
        </article>

        <footer class="post-footer">
          <p class="post-more">
            <a href="{{ post.url | prepend: site.baseurl }}">Read more &raquo;</a>
          </p>
        </footer>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No posts found for this tag.</p>
  {% endif %}
</div>
