/*-- Footer ------------------------------------------------------------------*/

#footer {
  background-color: $background-alt-color;
  opacity: $background-alt-opacity;
  padding: 10px;

  a {
    border: none;
    outline: none;
    color: $link-alt-color;
    text-decoration: $link-alt-decoration;

    &:hover {
      color: $link-alt-hover-color;
      text-decoration: $link-alt-hover-decoration;
    }
  }

  .inner {
    max-width: $max-width;
    margin: 0 auto;
    color: $text-alt-color;
    @include outer-container;
  }

  .social {
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      display: inline-block;

      &.twitter { }

      &.facebook { }

      &.instagram { }

      &.github { }

      &.linkedin { }
    }

    span {
      display: none;
    }
  }

  .copyright {
    text-align: center;
  }
}

/*-- Footer - Desktop --------------------------------------------------------*/
@include media($tablet) {
  #footer {
    .social {
      float: right;
      display: block;
      margin-right: 0;
      width: 24.11765%;
    }

    .copyright {
      float: left;
      display: block;
      margin-right: 1.17647%;
      width: 74.70588%;
    }
  }
}
