/*-- Footer ------------------------------------------------------------------*/

#footer {
  background-color: $overlay-background-color;
  opacity: $overlay-background-opacity;
  position: $overlay-position;
  width: 100%;
  bottom: 0;
  padding: 10px;
  font-size: $font-size-small;

  a {
    border: none;
    outline: none;
    color: $link-alt-color;
    text-decoration: $link-alt-decoration;

    &:hover {
      color: $link-alt-hover-color;
      text-decoration: $link-alt-hover-decoration;
    }
  }

  .inner {
    max-width: $max-width;
    margin: 0 auto;
    color: $text-alt-color;
    @include outer-container;
  }

  .social {
    text-align: center;
    margin-bottom: 10px;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      display: inline-block;
      margin-left: 5px;

      &:first-child {
        margin-left: 0;
      }

      &.twitter { }

      &.facebook { }

      &.instagram { }

      &.github { }

      &.linkedin { }
    }

    span {
      display: none;
    }
  }

  .copyright {
    text-align: center;
  }
}

/*-- Footer - Desktop --------------------------------------------------------*/
@include media($tablet) {
  #footer {
    font-size: $font-size;

    .social {
      float: right;
      display: block;
      margin: 0;
      width: 24%;
    }

    .copyright {
      float: left;
      display: block;
      margin-right: 1%;
      width: 75%;
    }
  }
}
