/*-- Header ------------------------------------------------------------------*/

#header {
  padding: 10px;

  .inner {
    max-width: $max-width;
    margin: 0 auto;
  }

  .title {
    margin: 0 auto;
    @include hide-text;
    @include size(72px);
    background-image: url(../../assets/images/logo.png);
    overflow: hidden;
  }
}
