/*-- Header ------------------------------------------------------------------*/

#header {
  background-color: $background-alt-color;
  opacity: $background-alt-opacity;
  padding: 10px;
  position: relative;
  // position: fixed;
  // top: 0;
  // width: 100%;

  a {
    border: none;
    outline: none;
    color: $link-alt-color;
    text-decoration: $link-alt-decoration;

    &:hover {
      color: $link-alt-hover-color;
      text-decoration: $link-alt-hover-decoration;
    }
  }

  .inner {
    max-width: $max-width;
    margin: 0 auto;
    color: $text-alt-color;
  }

  .title {
    text-align: center;
    margin: 0 auto;
    // height: 50px;
    // width: 50px;
    // overflow: hidden;
  }
}
