/*-- Old IE Alert ------------------------------------------------------------*/

#iealert {
  padding: $gap / 2;
  margin: $gap / 2;
  background-color: $iealert-background-color;
  border: $iealert-border-style;

  ul {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      list-style-type: none;
      @include inline-block;
      @include hide-text;
      @include size(72px);
      overflow: hidden;
      background-size: cover;

      &.firefox {
        background-image: url(../../assets/images/browsers/firefox.png);
      }

      &.safari {
        background-image: url(../../assets/images/browsers/safari.png);
      }

      &.chrome {
        background-image: url(../../assets/images/browsers/chrome.png);
      }

      &.opera {
        background-image: url(../../assets/images/browsers/opera.png);
      }

      &.ie {
        background-image: url(../../assets/images/browsers/ie.png);
      }
    }
  }
}
