/*-- Navigation --------------------------------------------------------------*/

#navigation {
  @include transition($navigation-transition);
  text-align: center;
  opacity: $navigation-opacity-closed;
  height: $navigation-height-closed;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: inline-block;
  }

  &.active {
    opacity: $navigation-opacity-open;
    height: $navigation-height-open;
  }
}

/*-- Navigation - Desktop ----------------------------------------------------*/
@include media($tablet) {
  #navigation {
    opacity: $navigation-opacity-open;
    height: $navigation-height-open;
  }
}
