/*-- Wrapper -----------------------------------------------------------------*/

#wrapper {
  padding: 0 $gap;
  min-width: $wrapper-min-width;
  max-width: $wrapper-max-width;
  margin: $wrapper-margin;
}
